<div>Hello, {{user.name}}</div>
<div>THIS IS YOUR ACUTIONS
  <ul>{{#each auctions}}
    <li>{{this.name}} <a href="/profile/auc/{{this._id}}">edit</a></li>
    {{/each}}
  </ul>
</div>
<a href="/profile/auc">add action</a>
